footer.l-footer 
  .o-gotop
    .o-gotop__text TOP

  .l-footer__slogan.u-text-slogan THIS BALL

  .l-footer__sitemap
    ul.l-footer__btn-box
      li.l-footer__btn-wrap
        a.l-footer__btn(href="#about")
          .l-footer__text-btn.u-text-footer 品牌故事
      li.l-footer__btn-wrap
        a.l-footer__btn(href="#popular")
          .l-footer__text-btn.u-text-footer 人氣排行
      li.l-footer__btn-wrap
        a.l-footer__btn(href="products.html")
          .l-footer__text-btn.u-text-footer 商品總覽
      li.l-footer__btn-wrap 
        a.l-footer__btn(href="#contact")
          .l-footer__text-btn.u-text-footer 店家資訊
      li.l-footer__btn-wrap
        a.l-footer__btn(href="map.html")
          .l-footer__text-btn.u-text-footer 地圖導覽

    .l-footer__link-box
      a.l-footer__link-wrap(href="https://www.facebook.com/This-BALLpancakes-306222823498056/" target="_blank")
        i.fab.fa-facebook.l-footer__link
      a.l-footer__link-wrap(href="https://www.instagram.com/thisball._____/?hl=zh-tw" target="_blank") 
        i.fab.fa-instagram.l-footer__link

    .l-footer__copyright.u-text-copyright @copyright This BALL All rights reserved


script(src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous")
script(src="js/aos.js")
script.
  AOS.init({
    offset: 200,
    duration: 1200,
    once: false
  })
script(src="js/main.min.js")    