footer.l-footer
  .o-gotop
    .o-gotop__arrow
      .o-gotop__line.--line01
      .o-gotop__line.--line02
      .o-gotop__line.--line03
    .o-gotop__text TOP

  .l-footer__sitemap
    ul.l-footer__btn-box
      li.l-footer__btn-wrap
        a.l-footer__btn(href="index.html#about")
          .l-footer__text-btn.--en.u-text-footer ABOUT
          .l-footer__text-btn.--zh.u-text-footer 品牌故事
      li.l-footer__btn-wrap
        a.l-footer__btn(href="index.html#popular")
          .l-footer__text-btn.--en.u-text-footer POPULAR
          .l-footer__text-btn.--zh.u-text-footer 人氣商品
      li.l-footer__btn-wrap
        a.l-footer__btn(href="index.html#product")
          .l-footer__text-btn.--en.u-text-footer PRODUCT
          .l-footer__text-btn.--zh.u-text-footer 商品總覽
      li.l-footer__btn-wrap 
        a.l-footer__btn(href="index.html#info")
          .l-footer__text-btn.--en.u-text-footer SHOP INFO
          .l-footer__text-btn.--zh.u-text-footer 店家資訊
      li.l-footer__btn-wrap
        a.l-footer__btn(href="map.html")
          .l-footer__text-btn.--en.u-text-footer MAP
          .l-footer__text-btn.--zh.u-text-footer 地圖導覽

    .l-footer__link-box
      a.l-footer__link-wrap(href="https://www.facebook.com/This-BALLpancakes-306222823498056/" target="_blank")
        i.fab.fa-facebook.l-footer__link
      a.l-footer__link-wrap(href="https://www.instagram.com/thisball._____/?hl=zh-tw" target="_blank") 
        i.fab.fa-instagram.l-footer__link

    .l-footer__copyright.u-text-copyright @copyright This BALL All rights reserved
    


script(src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous")
script(src="js/aos.js")
script.
  AOS.init({
    offset: 200,
    duration: 1200,
    once: false
  })
script(src="js/main.min.js")    