nav.c-navbar
  .o-burger.c-navbar__burger(data-aos="fade-left")
    .o-burger__wrap
      .o-burger__line
      .o-burger__line

  .c-navbar__body
    .c-navbar__menu
      ul.c-navbar__btn-box
        li.c-navbar__btn-wrap
          a.c-navbar__btn(href="index.html#about")
            .c-navbar__text-btn 品牌故事
        li.c-navbar__btn-wrap
          a.c-navbar__btn(href="index.html#popular")
            .c-navbar__text-btn 人氣商品
        li.c-navbar__btn-wrap
          a.c-navbar__btn(href="products.html")
            .c-navbar__text-btn 商品總覽
        li.c-navbar__btn-wrap
          a.c-navbar__btn(href="index.html#contact")
            .c-navbar__text-btn 店家資訊
        li.c-navbar__btn-wrap
          a.c-navbar__btn(href="map.html")
            .c-navbar__text-btn 地圖導覽

      .c-navbar__link-box
        a.c-navbar__link-wrap(href="https://www.facebook.com/This-BALLpancakes-306222823498056/" target="_blank")
          i.fab.fa-facebook.c-navbar__link
        a.c-navbar__link-wrap(href="https://www.instagram.com/thisball._____/?hl=zh-tw" target="_blank") 
          i.fab.fa-instagram.c-navbar__link
    