@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500&family=Roboto:wght@300;400;700&display=swap')
@import './utility.sass'
@import './component.sass'

/* -- header -- */
header#header
  position: relative
  +size(100%, 100vh)
  overflow: hidden
.moving-ball
  position: absolute
  border-radius: 50%

.l-header
  display: flex
  justify-content: center
  align-items: center
  +size(100%, 100vh)
  background-color: $color-gray-light
  &__logo-mask
    max-width: 80px
  &__content
    text-align: center
    white-space: nowrap
  &__title
    position: relative !important
    margin-bottom: 1rem
  &__desc
    position: relative !important
    

/* -- section -- */
section
  padding: 0 4vw
.container
  max-width: 1560px

/* -- about -- */
.l-about
  padding-top: 14rem
  &__title-section
    margin-bottom: 12rem
  &__content
    display: flex
    flex-direction: column
    align-items: flex-start
    padding: 15rem 8vw
    white-space: nowrap
    overflow: hidden
  &__title
    margin-bottom: 2rem
  &__row
    display: flex
    justify-content: flex-end
    align-items: center
  &__story-mask
    margin-top: -28rem
  &__row-two
    display: flex
    justify-content: flex-start
    align-items: center
  &__story-two-mask
    margin-top: -15rem
  &__container-fluid
    max-width: calc(1560px + 8vw)
    padding-left: 0
    margin-left: -4vw
  &__cake
    transform: rotate(-90deg)
    margin-top: 5rem

  
/* -- popular -- */
.l-popular
  padding-top: 18rem
  &__title-section
    margin-bottom: 10rem
    text-align: center
  &__swiper
    padding: 10px
  &__wrapper
    transition-timing-function: linear !important
  &__swiper-slide
    width: 15rem
    height: auto
  &__body
    display: flex
    justify-content: center
    align-items: center
  &__btn-all
    display: flex
    justify-content: center
    align-items: center
    margin-top: 10rem
    

/* -- contact -- */
.l-contact
  padding-top: 22rem
  &__title-section
    margin-bottom: 10rem
  &__content-wrap
    display: flex
    flex-direction: column
    justify-content: center
    align-items: flex-start
    height: 100%
    white-space: nowrap
    padding: 8rem 10vw
  &__btn-map
    margin: 3rem 30vw

/* -- footer -- */
.l-footer
  margin-top: 20rem
  &__sitemap
    display: flex
    flex-direction: column
    align-items: center
    padding: 4.5rem 4vw
    background-color: $color-sub
  &__slogan
    margin-bottom: 1rem
    white-space: nowrap
  &__btn-box
    display: flex
    justify-content: center
    flex-wrap: wrap
  &__btn-wrap
    &:not(:last-child)
      margin-right: 2.4rem
  &__btn:hover &
    &__text-btn
      color: $color-green
  &__text-btn
    white-space: nowrap
    text-align: center
    transition: 0.3s
  &__link-box
    display: flex
    align-items: center
    padding: 1.2rem 0 2rem
  &__link-wrap
    transition: 0.3s
    &:hover
      color: $color-green
    &:not(:last-child)
      margin-right: 1rem

/* -- header inner products-- */
.l-header-inner-products
  display: flex
  justify-content: center
  align-items: center
  +size(100%, 100vh)
  margin-bottom: 20rem
  background-image: url('../img/banner/banner-ball.jpg')
  background-size: cover
  background-position: center center
  &__logo-wrap
    position: absolute
    left: 4vw
    top: 3rem
  &__logo-mask
    max-width: 80px

/* -- products -- */
.l-products
  &__content
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
  &__desc
    margin-bottom: 2rem
  &__link-box
    display: flex
    padding: 1.2rem 0 2rem
  &__link-wrap
    transition: 0.3s
    &:hover
      color: $color-green
    &:not(:last-child)
      margin-right: 1rem
  &__link
    font-size: 3rem


/* -- header inner map-- */
.l-header-inner-map
  display: flex
  justify-content: center
  align-items: center
  +size(100%, 100vh)
  margin-bottom: 20rem
  background-image: url('../img/banner/banner-ball.jpg')
  background-size: cover
  background-position: center center
  &__logo-wrap
    position: absolute
    left: 4vw
    top: 3rem
  &__logo-mask
    max-width: 80px

/* -- map -- */
.l-map
  &__wrap
    +size(100%, 45vh)
  &__google
    +size(100%)


@media (max-width: 1024px)
  .l-about
    &__story-mask
      margin-top: -15rem
    &__story-two-mask
      margin-top: -10rem
    &__content
      padding: 6vw

@media (max-width: 1024px) and (orientation: portrait)

@media (max-width: 991.98px)

@media (max-width: 767.98px)
  .l-about
    padding-top: 16vw
    &__title-section
      margin-bottom: 12vw
    // &__container
    //   margin-left: auto
    //   padding-left: var(--bs-gutter-x, .75rem)
    &__content
      padding: 9vw
    &__story-mask
      margin-top: -5vw
    &__story-two-mask
      margin-top: -15vw

  .l-popular
    padding-top: 17vw

  .l-contact
    padding-top: 22vw
    &__title-section
      margin-bottom: 12vw

@media (max-width: 575.98px)
  .l-about
    padding-top: 17vw
    &__title-section
      margin-bottom: 14vw
    &__title
      font-size: 2.7rem
      letter-spacing: 0.5rem
    &__desc
      letter-spacing: 0.3rem
    &__content
      padding: 10vw 5vw
    &__story-mask
      margin-top: 0
    &__story-two-mask
      margin-top: -16vw

  .l-contact
    padding-top: 30vw
    &__title-section
      margin-bottom: 16vw
    &__content-wrap
      padding: 10vw 5vw




