$color-main: #ffdac7
$color-sub: #afb9c8
$color-black-light: #9c8279
$color-gray-light: #fffff5
$font-noto-sans: 'Noto Sans TC', '微軟正黑體', sans-serif
$font-roboto: 'Roboto','Arial', sans-serif

=size($w, $h: $w)
  width: $w
  height: $h

html
  font-size: calc(16px * 10 / 16)

*
  position: relative
  -webkit-font-smoothing: antialiased
  box-sizing: border-box
  &::selection
    background-color: $color-sub
    color: #fff
  &::-moz-selection
    background-color: $color-sub
    color: #fff

body
  margin: 0
  font-family: $font-noto-sans
  font-size: 1.6rem
  font-weight: 500
  letter-spacing: 0.5rem
  line-height: 1.7
  color: $color-black-light
  background-color: $color-gray-light
  transition: background-color 0.5s
  &.is-about-active
    background-color: $color-main
  &.is-popular-active
    background-image: url('../img/bg-ballmain.png')
    

.u-hover-mobile
  position: fixed
  +size(100%, 100vh)
  left: 0
  top: 0
  overflow: auto
  z-index: -9999
  &__block
    display: inline-block
    +size(100%, 98vh)


a
  display: block
  text-decoration: none
  color: inherit
  &:hover
    color: inherit
img
  max-width: 100%
ul
  list-style: none
  padding: 0
  margin: 0

h1, h2, h3
  font-weight: 500
h1, h2, h3, p
  margin: 0
i
  font-size: 3rem

.u-title
  font-size: 3.5rem
  letter-spacing: 1rem
.u-text-desc
  font-size: 1.7rem
  letter-spacing: 0.7rem
  line-height: 2
  color: rgba($color-black-light, 0.7)
.u-title-section
  font-family: $font-roboto
  font-size: 6.5rem
  font-weight: 900
.u-about-title
  font-family: $font-roboto
  font-size: 5rem
  font-weight: 700
  letter-spacing: 0.9rem
.u-content-desc
  font-size: 2rem
  font-weight: 500
  letter-spacing: 0.5rem
  line-height: 2.2
.u-text-deco
  font-size: 2rem
  letter-spacing: 0.2rem
.u-text-cake
  font-family: $font-roboto
  font-size: 13rem
  font-weight: 700
  letter-spacing: 1.7rem
  text-shadow: 25px 25px rgba($color-main, 0.4)
.u-text-product
  font-size: 4.5rem
  color: $color-gray-light
.u-text-footer
  font-size: 1.6rem
  letter-spacing: 0.2rem
  line-height: 1.4
.u-text-copyright
  font-family: $font-roboto
  font-size: 1.4rem
  letter-spacing: 0.1rem

@media (max-width: 1199.98px)
  html
    font-size: calc(15px * 10 / 16)

@media (max-width: 1024px)
  html
    font-size: calc(14px * 10 / 16)
  .u-text-product
    font-size: 3.8rem
  .u-text-cake
    font-size: 11rem
    text-shadow: 17px 17px rgba($color-main, 0.4)

@media (max-width: 767.98px)
  .u-title-section
    font-size: 6rem
  .u-about-title
    font-size: 4.5rem
  .u-text-product
    font-size: 3.2rem
  .u-content-desc
    font-size: 1.9rem
    line-height: 2
  .u-text-cake
    font-size: 8rem

@media (max-width: 575.98px)
  .u-title-section
    font-size: 4.2rem
  .u-about-title
    font-size: 3.2rem
    letter-spacing: 0.75rem
  .u-content-desc
    font-size: 1.6rem
    letter-spacing: 0.25rem
  .u-text-deco
    font-size: 1.6rem
    font-weight: 400
    line-height: 1.5
  .u-text-cake
    font-size: 5.5rem
    letter-spacing: 1rem
    text-shadow: 10px 10px rgba($color-main, 0.4)
