doctype html
html(lang="en")
  head
    include includes/config.pug
    include includes/head.pug
    
    meta(property="og:title" content=title)
    title #{title}

  body
    #app.is-home
      
      .u-hover-mobile
        .u-hover-mobile__block

      include includes/navbar.pug


      header#header.l-header(data-aos="fade")
        .l-header__content.js-parallax(data-input-element=".l-header" data-aos="fade-up")
          .l-header__logo-mask(data-depth="-0.3")
            img.l-header__logo(src="img/logo/logo-icon.png", alt="logo")
          h3.l-header__title.u-title(data-depth="0.3") 手燒鬆餅球
          p.l-header__desc.u-text-desc(data-depth="0.3") Be an imperfect circle
          p.l-header__desc.u-text-desc(data-depth="0.3") 願成為最暖的一顆球，
          p.l-header__desc.u-text-desc(data-depth="0.3") 溫暖的一個角落。


      main.main
        section#about.l-about
          .container
            .row 
              .col-md-12
                .l-about__title-section(data-aos="fade")
                  h2.u-title-section 品牌故事

            .row
              .col-md-9.col-sm-10.col-11(data-aos="fade-right")
                .l-about__img-mask
                  img.l-about__img(src="img/about/story-one.jpg", alt="鬆餅球")


            .row
              .col-md-12
                  .l-about__content
                    h3.l-about__title.u-title(uk-parallax='opacity: 0,1,1; y: -100,0,0; x: 100,100,0; scale: 2,1,1; viewport: 0.5;') Imperfect Circle
                    p.l-about__desc.u-text-desc(uk-parallax='opacity: 0,1,1; y: 100,0,0; x: -100,-100,0; scale: 0.5,1,1; viewport: 0.5;') 鬆餅球，手燒保有每一顆該有的獨特，
                    p.l-about__desc.u-text-desc(uk-parallax='opacity: 0,1,1; y: 100,0,0; x: -100,-100,0; scale: 0.5,1,1; viewport: 0.5;') 圓的，但不那麼圓，也不那麼完美，
                    p.l-about__desc.u-text-desc(uk-parallax='opacity: 0,1,1; y: 100,0,0; x: -100,-100,0; scale: 0.5,1,1; viewport: 0.5;') 像人生一樣，做自己喜歡的樣子就好。
                    p.l-about__desc.u-text-desc(uk-parallax='opacity: 0,1,1; y: 100,0,0; x: -100,-100,0; scale: 0.5,1,1; viewport: 0.5;') 希望在這個世界保有一些白，
                    p.l-about__desc.u-text-desc(uk-parallax='opacity: 0,1,1; y: 100,0,0; x: -100,-100,0; scale: 0.5,1,1; viewport: 0.5;') 成為最暖的一顆球、溫暖的一個小地方。

            .row.l-about__row
              .col-md-5.col-sm-6.col-8
                .l-about__story-mask(data-aos="fade-up")
                  img.l-about__story(src="img/about/story-two.png", alt="鬆餅球")

            .row.l-about__row-two
              .col-md-4.col-sm-5.col-7
                .l-about__story-two-mask(data-aos="fade-right")
                  img.l-about__story-two(src="img/about/story-three.jpg", alt="小餐車")


          .container-fluid.l-about__container-fluid
            .row
              .col-md-12.l-about__cake-wrap
                .l-about__cake.u-text-cake(data-aos="fade") PANCAKES

        section#popular.l-popular
          .container
            .row 
              .col-md-12
                .l-popular__title-section(data-aos="fade")
                  h2.u-title-section 人氣商品

          .container
            .row
              .col-md-12
                .swiper-container.l-popular__swiper(data-aos="fade-up")
                  .swiper-wrapper.l-popular__wrapper
                    .swiper-slide.l-popular__swiper-slide
                      .c-card
                        .c-card__img-wrap
                          img(src="img/popular/sugar.jpg", alt="鬆餅球")
                        .c-card__body
                          .c-card__content
                            h3.c-card__title 鬆餅球
                            p.c-card__desc 鹽焦糖口味

                    .swiper-slide.l-popular__swiper-slide
                      .c-card
                        .c-card__img-wrap
                          img(src="img/popular/mentaiko.jpg", alt="鬆餅球")
                        .c-card__body
                          .c-card__content
                            h3.c-card__title 鬆餅球
                            p.c-card__desc 明太子肉鬆鬆


                    .swiper-slide.l-popular__swiper-slide
                      .c-card
                        .c-card__img-wrap
                          img(src="img/popular/strwberry.jpg", alt="鬆餅球")
                        .c-card__body
                          .c-card__content
                            h3.c-card__title 限定口味鬆餅球
                            p.c-card__desc 草莓口味

                    .swiper-slide.l-popular__swiper-slide
                      .c-card
                        .c-card__img-wrap
                          img(src="img/popular/milktea.jpg", alt="鬆餅球")
                        .c-card__body
                          .c-card__content
                            h3.c-card__title 限定口味鬆餅球
                            p.c-card__desc 珍珠奶茶口味

                    .swiper-slide.l-popular__swiper-slide
                      .c-card
                        .c-card__img-wrap
                          img(src="img/popular/taro.jpg", alt="鬆餅球")
                        .c-card__body
                          .c-card__content
                            h3.c-card__title 限定口味鬆餅球
                            p.c-card__desc 芋頭口味

            .row
              .col-md-12
                  .l-popular__btn-all
                    a.o-btn-all(href="products.html") 商品總覽

        section#contact.l-contact
          .container
              .row 
                .col-md-12
                  .l-contact__title-section(data-aos="fade-down")
                    h2.u-title-section 店家資訊

          .container(data-aos="fade-up")
            .row
              .col-md-7.col-sm-10.col-11
                .l-contact__img-mask(data-aos="fade-right")
                  img.l-contact__img(src="img/contact/store.jpg", alt="店家")

              .col-md-5
                .l-contact__content-wrap(data-aos="fade-up")
                  .l-contact__content
                    p.l-contact__desc.u-contact-desc 營業時間: 11:00 - 19:00
                    p.l-contact__desc.u-contact-desc 電話: 07-2851500
                    p.l-contact__desc.u-contact-desc 地址: 高雄市新興區自立二路72號
                  .l-contact__btn-map
                    a.o-btn-map(href="map.html") Google Map

    include includes/footer.pug           

    script(src="js/uikit.min.js")
    script(src="js/parallax.min.js")
    script(src="js/swiper-bundle.min.js")
    script(src="js/main.min.js")    
                